.select {
  width: 70px;
  font-size: 16px;
  line-height: 1;
  padding: 10px;
  height: 40px;
  background: url("../../../shared/icons/selectArrow.svg") no-repeat right #fff;
  -webkit-appearance: none;
  background-position-y: 12px;
  background-position-x: 35px;
}
