.search {
  display: flex;
  padding: 32px 25px;
  background-color: #dddddd;
  &_input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  &_submit {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 1200px) {
  .search {
    padding: 20px 15px;
    &_input {
      padding: 15px 10px;
    }
    &_submit {
      &_icon {
        height: 25px;
        width: auto;
      }
    }
  }
}

@media (max-width: 769px) {
  .search {
    padding: 15px 10px;
    &_input {
      padding: 10px 10px;
    }
    &_submit {
      &_icon {
        height: 20px;
      }
    }
  }
}
